*{
  box-sizing: border-box;
}

body {

}
body {
  font-family: lato,helvetica neue,Helvetica,Arial,sans-serif;
font-size: 16px;
line-height: 1.7;
color: #484043;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-variant-ligatures: common-ligatures;

}

.App {
  text-align: center;
  /* background-color: lightgrey; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* style for job */

.job-macro{
  margin: auto;
  display: block;
  padding: 0.8rem 0.8rem 1.3rem;
  border-bottom: 1px solid #e2dfdd;
  color: #484043;
  width: 70%;
  text-decoration: none;
}
.job-title {

}

.button, .apply-btn, .login-btn, .signup-btn {
  padding: 0.2rem 1rem;
  background-color: #6e6568;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
}
.button-update {
  padding: 0.2rem 1rem;
  background-color: #6e6568;
  color: white;
  margin-left: 32%;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
}
.job-search{
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.container {
  /* margin-top: -5rem; */
  border-right: 1px solid #e2dfdd;;
  border-left: 1px solid #e2dfdd;;
  margin:0 auto;
  /* margin: 1rem 9rem; */
  max-width: 800px;
  /* background-color: #fff; */
}
.describe {
  max-width: 500px;
  text-align: justify;
}
h3 {
  text-align: center;
}
.applied-job {
  /* text-align: center; */
  margin-right: 5rem;
}
.resume {
  display: grid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 43rem;
}
.grid-container{
  max-width: 800px;
  display: grid;
  grid-template-row: auto auto auto;
  grid-auto-rows: auto auto auto;
  justify-content: center;
  margin: auto;
}
.grid-item {
  padding: 3rem;
  text-align: center;
}
.grid-input{
  text-align: center;
  width: 20rem;
  padding: 0.5rem;
}
.apply-btn {
  margin-left:8rem;
}
.login {
  max-width: 600px;
  background-color: #fbf9f5;
  margin: 0 auto;
  box-shadow: 0 0.2rem 0.2rem 0.2rem pink;
  text-align: center;
}
.login-input {
  padding:0 5rem;
  text-align: center;
}
.signup-link {
  text-decoration: none;
  color: blue;
}
.login-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.signup-input {
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  border: 1px solid grey;
  font-size: 1rem;
}
.signup-btn {
  margin-top: 0.5rem;
  margin-left:3.5rem;
}

.seeker {
  text-decoration: none;
  color: #484043
}
.employer-btn {
  text-decoration: none;
  background-color: #484043;
  color: white;
  text-align: center;
}
/* Styel for Navigation */
nav  {
  display: flex;
  /* background-color: #ccc; */
  color: #484043;
  background-color: #fbf9f5;
  /* line-height: 1.7; */
  text-rendering: optimizeLegibility;
  font-family: lato,helvetica neue,Helvetica,Arial,sans-serif;
  border-bottom: 1px solid #e2dfdd;

}
ul {
  list-style: none;
  display: inline-flex;
}

.nav {
  text-decoration: none;
  color: #f62958;
  background-color: transparent;
  cursor: pointer;
  margin-right: 4rem;
}
footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  color: #f62958;
  background-color: #fbf9f5;
  text-align: right;
  padding-right: 2rem;

}

img {
  border-radius: 10%;
}
.about {
  list-style: none;
  text-decoration: none;

}
.aboutme {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (max-width: 500px){
  ul {
    display: block;
    margin: 0 auto;
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1rem;
  }
  .job-search {
    display: block;
  }
  .button {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .grid-container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
